main {
    min-height: 80vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.product-card-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: center;
}

.rating span {
    margin: 0.1rem;
}

.rating svg {
    color: #f8e825;
}

.rating-text {
    font-size: 0.8rem;
    font-weight: 600;
    padding-left: 0.5rem;
}

.product-title {
    height: 2.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.loader-spinner {
    width: 100px;
    height: 100px;
    font-size: 30px;
    display: block;
    margin: auto;
}

.cart-badge-header {
    margin-left: 5px;
}

.shopping-cart-title {
    margin-bottom: 20px;
}